extends layout

block content
  header(style="background-image: url('/images/evernote.jpg'); height: 320px;")
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1

          h1.text-center Evernode
          hr.small
          h3.text-center An simple note app.
