h1 New Note

form(method='POST', action="/notes" class='form form-control')
  .input-group
    label(for='title') Title
    input#title(type="text", name='title')
  .input-group
    label(for='text') Text
    textarea#text(name='text')
  button(type="submit" class="btn btn-block") Save

