extends layout

block content
  if note
    h1 Edit Note
  else
    h1 New Note

  - var item = note || {title: '', text: ''};
  - var override = note ? '/' + note._id + '?_method=PUT' : '';

  form(method='POST', action="/notes#{override}" class='form')
    .input-group
      label Title
      input(type="text", name='title', value='#{item.title}')
    .input-group
      label Text
      textarea(name='text')= item.text
    button(type="submit" class="btn btn-primary") Save

